# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Data outputs
data/bronze/*
data/silver/*
data/gold/*
data/archive/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/archive/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
